#############################################################################################
# Desciption of file layout: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html #
#############################################################################################


# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.d



