<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <!-- edaijia业务log -->
    <appender name="console-appender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p]  {%c:%L}-%m%n"/>
        </layout>
        <!--&lt;!&ndash;限制输出级别 &ndash;&gt;-->
        <!--<filter class="org.apache.log4j.varia.LevelRangeFilter">-->
        <!--<param name="LevelMax" value="ERROR"/>-->
        <!--<param name="LevelMin" value="TRACE"/>-->
        <!--</filter>-->
    </appender>

    <appender name="CoalescingStatistics" class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="60000"/>
        <!--<appender-ref ref="ExecutionSlow"></appender-ref>-->
    </appender>

    <!--log config start-->
    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CoalescingStatistics"/>
    </logger>
    <!-- per4j-appender-end -->

    <!--log config start-->
    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CoalescingStatistics"/>
    </logger>
    <logger name="cn.edaijia.queue" additivity="false">
        <level value="error"/>
        <appender-ref ref="CoalescingStatistics"/>
    </logger>
    <root>
        <priority value="debug"/>
        <appender-ref ref="console-appender"/>
    </root>
</log4j:configuration>