<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) ## %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data/logs/demo/business.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yy-MM-dd HH:mm:ss,SSS} %-5p %c(%F:%L) ## %m%n"/>
        </layout>
    </appender>

    <!-- per4j-file-appender -->
    <appender name="per4j-appender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data/logs/demo/perf4j.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"></param>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m"/>
        </layout>
    </appender>

    <!--实时图表配置,每个appender将会渲染出一张图表-->
    <appender name="ExecutionTimes"
              class="org.perf4j.log4j.GraphingStatisticsAppender">
        <!-- Possible GraphTypes are Mean, Min, Max, StdDev, Count and TPS -->
        <param name="GraphType" value="Mean"/>
        <!-- The tags of the timed execution blocks to graph are specified here -->
        <!--<param name="TagNamesToGraph"-->
        <appender-ref ref="graphsFileAppender"/>
    </appender>

    <appender name="ExecutionCount"
              class="org.perf4j.log4j.GraphingStatisticsAppender">
        <!-- Possible GraphTypes are Mean, Min, Max, StdDev, Count and TPS -->
        <param name="GraphType" value="Count"/>
        <!-- The tags of the timed execution blocks to graph are specified here -->
        <param name="TagNamesToGraph" value="queue_pop,queue_push,http_request,order-message"/>
        <appender-ref ref="graphsFileAppender"/>
    </appender>

    <appender name="ExecutionStdDev"
              class="org.perf4j.log4j.GraphingStatisticsAppender">
        <!-- Possible GraphTypes are Mean, Min, Max, StdDev, Count and TPS -->
        <param name="GraphType" value="StdDev"/>
        <!-- The tags of the timed execution blocks to graph are specified here -->
        <param name="TagNamesToGraph" value="http_request"/>
        <appender-ref ref="graphsFileAppender"/>
    </appender>

    <appender name="ExecutionTPS"
              class="org.perf4j.log4j.GraphingStatisticsAppender">
        <param name="GraphType" value="TPS"/>
        <param name="TagNamesToGraph" value="http_request,queue_pop,queue_push,/user/level/auth"/>
        <appender-ref ref="graphsFileAppender"/>
    </appender>

    <!--历史数据存放目录-->
    <appender name="HistoryData"
              class="org.perf4j.log4j.SqlLiteAppender">
        <param name="path" value="/data/logs/demo/perf4j.db"></param>
    </appender>

    <appender name="CoalescingStatistics" class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="30000"/>
        <param name="createRollupStatistics" value="true"></param>
        <appender-ref ref="console"/>
        <appender-ref ref="ExecutionTPS"></appender-ref>
        <appender-ref ref="ExecutionTimes"></appender-ref>
        <appender-ref ref="ExecutionCount"></appender-ref>
        <appender-ref ref="ExecutionStdDev"></appender-ref>
        <appender-ref ref="HistoryData"></appender-ref>
    </appender>

    <appender name="graphsFileAppender" class="org.apache.log4j.FileAppender">
        <param name="Path" value="/data/logs/demo/graphFile.log"/>
    </appender>

    <!--log config start-->
    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CoalescingStatistics"/>
    </logger>
    <!-- per4j-appender-end -->

    <root>
        <level value="debug"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>



